HEADER_SEARCH_PATHS = $(inherited) "$(SRCROOT)" "$(SRCROOT)/Classes"
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)" "$(SRCROOT)/Classes"
OTHER_LDFLAGS = $(inherited) -ObjC -all_load -lMuiKit -lMoverNetwork -lMoverMini -framework MobileCoreServices -framework CFNetwork -framework SystemConfiguration -lz
